extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Pet
      form(action="#" id="new-pet")
        .form-group
            label.required Name
            input.form-control(name="name" required)
        .form-group
            label.required Birthday
            input.form-control(name="birthday" required)
        .form-group
            label.required Species
            input.form-control(name="species" required)
        .form-group
            label.required Rectangular Image URL
            input.form-control(name="picUrl" required type="url")
        .form-group
            label.required Square Image URL
            input.form-control(name="picUrlSq" required type="url")   
        .form-group
            label.required Favorite Food
            input.form-control(name="favoriteFood" required)
        .form-group
            label.required Description
            textarea.form-control(name="description" required minlength="140")   
        button(type="submit").btn.btn-primary Save